.events-wrap{
    display: flex;
    margin-left: 1rem;
    align-items: center;
    background-color: #1d1d29;
    border-radius: 5px;
    padding: 5px;
}

.events-img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 15px;
}

.events-title{
    word-wrap: break-word;
}

.events-span{
    font-size: 0.875rem;
}