
.user-input:focus{
    /* height: 100%; */
    width: 66.3333%;
    color: #2d3748;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    outline: none;
}

.input-search{
    font-weight: 600;
    background-color: #38b2ac;
    border: 1px solid #38b2ac;
    border-radius: 5px;
    padding: 6px 4px;
}

@media  (max-width: 768px) {
    .user-input{
    width: 33.3333%;
    }
}